*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#grid-viagens{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
}

.figure-viagens{
    border: 1px solid #000;
    border-radius: 3px;

}

.img-viagens{
    width: 100%;
}

.figcaption-viagens{
 padding: 10px;
}

.btn-comprar{
    padding: 6px 12px;
    margin: 10px auto;
    display: grid;
    background-color: beige;
    border-radius: 3px;
    font-weight: bold;

}